{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}
{{ 'component-custom-footer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif

    if section.blocks.size == 1 and section.blocks[0].type == 'brand_information' and brand_empty and has_social_icons == false and section.settings.newsletter_enable == false and section.settings.enable_follow_on_shop == false
      assign only_empty_brand = true
    endif
  -%}
  {%- if section.blocks.size > 0
    or section.settings.newsletter_enable
    or section.settings.show_social
    and has_social_icons == true
    or section.settings.enable_follow_on_shop
  -%}
    {%- unless only_empty_brand -%}
      <div class="">
        {%- if section.blocks.size > 0 -%}
          {%- liquid
            if section.blocks.size == 9
              assign footer_grid_class = 'grid--3-col-tablet'
            elsif section.blocks.size > 6
              assign footer_grid_class = 'grid--4-col-desktop'
            elsif section.blocks.size > 4
              assign footer_grid_class = 'grid--3-col-tablet'
            endif
          -%}
          <div
            class="footer__blocks-wrapper row justify-content-xl-between {{ footer_grid_class }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="footer-block
                  {% if forloop.index == 2 %}col-md-6 col-xl-3 ps-xl-0 order-3 order-xl-2 {% else %}col-6 col-md-3 col-xl-2{% endif %}
                  {% if forloop.index == 2 %}order-3 order-xl-2{% elsif forloop.index == 3 %}order-2 order-xl-3{% else %}order-{{ forloop.index }}{% endif %}
                  {% if block.type == 'link_list' %} footer-block--menu{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {%- if block.settings.heading != blank -%}
                  <h2 class="footer-block__heading inline-richtext">{{- block.settings.heading -}}</h2>
                {%- endif -%}

                {%- case block.type -%}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'text' -%}
                    <div class="footer-block__details-content rte">
                      {{ block.settings.subtext }}
                    </div>
                  {%- when 'link_list' -%}
                    {%- if block.settings.menu != blank -%}
                      <ul class="list-unstyled d-flex flex-wrap">
                        {%- for link in block.settings.menu.links -%}
                          <li class="{% if block.settings.heading == 'Shop' %}w-50{% else %}w-100{% endif %} {{ block.settings.heading }}">
                            <a
                              href="{{ link.url }}"
                              class="link link--text list-menu__item list-menu__item--link custom-link py-0 {% if link.active %} list-menu__item--active{% endif %}"
                            >
                              {{ link.title | escape }}
                            </a>
                          </li>
                        {%- endfor -%}
                      </ul>
                    {%- endif -%}
                    {% if forloop.index == 5 %}
                      <ul class="ps-0 list-unstyled social-icons d-none d-md-flex">
                        <li><a target="_blank" href="https://www.facebook.com/elevenishcom/"><svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.4041 14.5455C2.4041 14.4868 2.39152 14.4281 2.39152 14.3577C2.39152 12.2803 2.39152 10.1913 2.39152 8.11395C2.39152 8.05527 2.39152 7.99659 2.39152 7.91443C1.58595 7.91443 0.805563 7.91443 0 7.91443C0 7.04594 0 6.20093 0 5.33244C0.792976 5.33244 1.57337 5.33244 2.39152 5.33244C2.39152 5.26202 2.39152 5.20334 2.39152 5.14466C2.39152 4.46395 2.37893 3.79498 2.4041 3.11428C2.44186 2.30447 2.6936 1.55334 3.31036 0.943055C3.77608 0.485339 4.36766 0.215403 5.02218 0.0863037C5.56342 -0.0193232 6.10466 -0.00758686 6.6459 0.0158858C7.08644 0.0276221 7.52698 0.0628311 7.96753 0.0980401C8.00529 0.0980401 8.03046 0.109776 8.08081 0.121513C8.08081 0.884374 8.08081 1.64723 8.08081 2.42183C8.03046 2.42183 7.98011 2.42183 7.91718 2.42183C7.37594 2.43357 6.8347 2.42183 6.29346 2.4453C5.65153 2.48051 5.28651 2.80913 5.26134 3.40768C5.23616 4.02971 5.24875 4.65173 5.24875 5.28549C5.24875 5.29723 5.26134 5.29723 5.26134 5.33244C6.15501 5.33244 7.06126 5.33244 7.98011 5.33244C7.85424 6.20093 7.74096 7.05768 7.62768 7.91443C6.8347 7.91443 6.05431 7.91443 5.26134 7.91443C5.26134 7.97311 5.24875 8.00832 5.24875 8.05527C5.24875 10.1913 5.24875 12.3273 5.24875 14.4516C5.24875 14.4868 5.24875 14.522 5.26134 14.5455C4.30473 14.5455 3.36071 14.5455 2.4041 14.5455Z" fill="#494849"></path></svg><svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.4041 14.5455C2.4041 14.4868 2.39152 14.4281 2.39152 14.3577C2.39152 12.2803 2.39152 10.1913 2.39152 8.11395C2.39152 8.05527 2.39152 7.99659 2.39152 7.91443C1.58595 7.91443 0.805563 7.91443 0 7.91443C0 7.04594 0 6.20093 0 5.33244C0.792976 5.33244 1.57337 5.33244 2.39152 5.33244C2.39152 5.26202 2.39152 5.20334 2.39152 5.14466C2.39152 4.46395 2.37893 3.79498 2.4041 3.11428C2.44186 2.30447 2.6936 1.55334 3.31036 0.943055C3.77608 0.485339 4.36766 0.215403 5.02218 0.0863037C5.56342 -0.0193232 6.10466 -0.00758686 6.6459 0.0158858C7.08644 0.0276221 7.52698 0.0628311 7.96753 0.0980401C8.00529 0.0980401 8.03046 0.109776 8.08081 0.121513C8.08081 0.884374 8.08081 1.64723 8.08081 2.42183C8.03046 2.42183 7.98011 2.42183 7.91718 2.42183C7.37594 2.43357 6.8347 2.42183 6.29346 2.4453C5.65153 2.48051 5.28651 2.80913 5.26134 3.40768C5.23616 4.02971 5.24875 4.65173 5.24875 5.28549C5.24875 5.29723 5.26134 5.29723 5.26134 5.33244C6.15501 5.33244 7.06126 5.33244 7.98011 5.33244C7.85424 6.20093 7.74096 7.05768 7.62768 7.91443C6.8347 7.91443 6.05431 7.91443 5.26134 7.91443C5.26134 7.97311 5.24875 8.00832 5.24875 8.05527C5.24875 10.1913 5.24875 12.3273 5.24875 14.4516C5.24875 14.4868 5.24875 14.522 5.26134 14.5455C4.30473 14.5455 3.36071 14.5455 2.4041 14.5455Z" fill="#494849"></path></svg></a></li>
                        <li><a target="_blank" href="https://www.instagram.com/elevenish/"><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.90889 14.5455C8.45953 14.5455 7.01016 14.5455 5.56459 14.5455C5.50009 14.5379 5.43559 14.5303 5.3673 14.5227C4.93097 14.4733 4.48705 14.4581 4.05832 14.367C2.49133 14.0441 1.45932 13.1175 1.03438 11.5604C0.821908 10.7781 0.802937 9.96915 0.795349 9.16402C0.787761 7.89936 0.787761 6.63471 0.791555 5.37005C0.795349 4.66367 0.821908 3.95728 0.958497 3.26229C1.15959 2.25588 1.64144 1.42417 2.48374 0.816531C3.20463 0.296237 4.02796 0.0759662 4.89682 0.0531796C6.42586 0.0152019 7.9549 1.10984e-05 9.48394 1.10984e-05C10.2997 1.10984e-05 11.1192 -0.0037869 11.935 0.129135C13.6272 0.41017 14.7616 1.47734 15.141 3.14456C15.2738 3.72942 15.2966 4.32567 15.308 4.92192C15.3118 5.10421 15.3231 5.2903 15.3345 5.47259C15.3345 6.68408 15.3345 7.89936 15.3345 9.11085C15.3269 9.28175 15.3118 9.44885 15.308 9.61975C15.2966 10.216 15.2776 10.8123 15.1334 11.3971C14.754 12.9504 13.8093 13.9454 12.2461 14.3328C11.6542 14.4771 11.0509 14.5037 10.4439 14.5189C10.2693 14.5227 10.0872 14.5341 9.90889 14.5455ZM13.999 7.04487C14.0066 7.04487 14.0104 7.04487 14.018 7.04487C14.018 6.50938 14.0331 5.9739 14.0142 5.43841C13.9876 4.79659 13.9762 4.14717 13.8776 3.51294C13.7182 2.48375 13.1149 1.79256 12.0943 1.52671C11.6808 1.42038 11.2482 1.34442 10.8233 1.32543C9.82162 1.28366 8.81997 1.28366 7.81452 1.27606C7.08984 1.27226 6.36516 1.27986 5.64047 1.29505C5.10929 1.30265 4.58191 1.32923 4.06211 1.46215C3.21222 1.68622 2.62413 2.18752 2.34336 3.03822C2.13089 3.68005 2.08156 4.34845 2.07398 5.01686C2.06259 6.55116 2.0588 8.08925 2.07398 9.62355C2.07777 10.0869 2.1233 10.554 2.21436 11.0059C2.44201 12.1415 3.12496 12.8592 4.27838 13.0643C4.75264 13.1479 5.2345 13.1972 5.71636 13.2048C7.09363 13.2276 8.47091 13.239 9.84818 13.2238C10.4818 13.2162 11.1192 13.1821 11.7415 13.0871C12.8531 12.9238 13.6006 12.2174 13.832 11.1427C13.9231 10.7173 13.9762 10.2806 13.9838 9.84762C14.0142 8.91337 13.999 7.97912 13.999 7.04487Z" fill="#494849"></path><path d="M8.06179 3.52833C10.122 3.52453 11.7838 5.18415 11.7952 7.25394C11.8066 9.31233 10.141 10.9871 8.07697 10.9947C6.01295 11.0023 4.33594 9.33511 4.33594 7.26533C4.33973 5.19934 5.99777 3.53592 8.06179 3.52833ZM8.07697 4.84235C6.73763 4.83856 5.65251 5.91332 5.64871 7.25014C5.64492 8.59455 6.71487 9.67691 8.0542 9.68451C9.40112 9.6921 10.4862 8.61354 10.49 7.26533C10.4862 5.92472 9.4163 4.84615 8.07697 4.84235Z" fill="#494849"></path><path d="M11.9393 2.51077C12.4212 2.50697 12.8082 2.88675 12.812 3.36907C12.8158 3.85898 12.4326 4.25015 11.9507 4.25394C11.4726 4.25774 11.078 3.87037 11.0742 3.39565C11.0705 2.90574 11.4537 2.51457 11.9393 2.51077Z" fill="#494849"></path></svg><svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.90889 14.5455C8.45953 14.5455 7.01016 14.5455 5.56459 14.5455C5.50009 14.5379 5.43559 14.5303 5.3673 14.5227C4.93097 14.4733 4.48705 14.4581 4.05832 14.367C2.49133 14.0441 1.45932 13.1175 1.03438 11.5604C0.821908 10.7781 0.802937 9.96915 0.795349 9.16402C0.787761 7.89936 0.787761 6.63471 0.791555 5.37005C0.795349 4.66367 0.821908 3.95728 0.958497 3.26229C1.15959 2.25588 1.64144 1.42417 2.48374 0.816531C3.20463 0.296237 4.02796 0.0759662 4.89682 0.0531796C6.42586 0.0152019 7.9549 1.10984e-05 9.48394 1.10984e-05C10.2997 1.10984e-05 11.1192 -0.0037869 11.935 0.129135C13.6272 0.41017 14.7616 1.47734 15.141 3.14456C15.2738 3.72942 15.2966 4.32567 15.308 4.92192C15.3118 5.10421 15.3231 5.2903 15.3345 5.47259C15.3345 6.68408 15.3345 7.89936 15.3345 9.11085C15.3269 9.28175 15.3118 9.44885 15.308 9.61975C15.2966 10.216 15.2776 10.8123 15.1334 11.3971C14.754 12.9504 13.8093 13.9454 12.2461 14.3328C11.6542 14.4771 11.0509 14.5037 10.4439 14.5189C10.2693 14.5227 10.0872 14.5341 9.90889 14.5455ZM13.999 7.04487C14.0066 7.04487 14.0104 7.04487 14.018 7.04487C14.018 6.50938 14.0331 5.9739 14.0142 5.43841C13.9876 4.79659 13.9762 4.14717 13.8776 3.51294C13.7182 2.48375 13.1149 1.79256 12.0943 1.52671C11.6808 1.42038 11.2482 1.34442 10.8233 1.32543C9.82162 1.28366 8.81997 1.28366 7.81452 1.27606C7.08984 1.27226 6.36516 1.27986 5.64047 1.29505C5.10929 1.30265 4.58191 1.32923 4.06211 1.46215C3.21222 1.68622 2.62413 2.18752 2.34336 3.03822C2.13089 3.68005 2.08156 4.34845 2.07398 5.01686C2.06259 6.55116 2.0588 8.08925 2.07398 9.62355C2.07777 10.0869 2.1233 10.554 2.21436 11.0059C2.44201 12.1415 3.12496 12.8592 4.27838 13.0643C4.75264 13.1479 5.2345 13.1972 5.71636 13.2048C7.09363 13.2276 8.47091 13.239 9.84818 13.2238C10.4818 13.2162 11.1192 13.1821 11.7415 13.0871C12.8531 12.9238 13.6006 12.2174 13.832 11.1427C13.9231 10.7173 13.9762 10.2806 13.9838 9.84762C14.0142 8.91337 13.999 7.97912 13.999 7.04487Z" fill="#494849"></path><path d="M8.06179 3.52833C10.122 3.52453 11.7838 5.18415 11.7952 7.25394C11.8066 9.31233 10.141 10.9871 8.07697 10.9947C6.01295 11.0023 4.33594 9.33511 4.33594 7.26533C4.33973 5.19934 5.99777 3.53592 8.06179 3.52833ZM8.07697 4.84235C6.73763 4.83856 5.65251 5.91332 5.64871 7.25014C5.64492 8.59455 6.71487 9.67691 8.0542 9.68451C9.40112 9.6921 10.4862 8.61354 10.49 7.26533C10.4862 5.92472 9.4163 4.84615 8.07697 4.84235Z" fill="#494849"></path><path d="M11.9393 2.51077C12.4212 2.50697 12.8082 2.88675 12.812 3.36907C12.8158 3.85898 12.4326 4.25015 11.9507 4.25394C11.4726 4.25774 11.078 3.87037 11.0742 3.39565C11.0705 2.90574 11.4537 2.51457 11.9393 2.51077Z" fill="#494849"></path></svg></a></li>		
                        <li><a target="_blank" href="https://twitter.com/"><svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.806641 11.3722C2.43624 11.5216 3.87727 11.1208 5.18664 10.1152C3.8239 9.98772 2.91659 9.28456 2.40422 7.98389C2.8561 8.03854 3.27951 8.04583 3.73494 7.92196C3.01621 7.73979 2.45048 7.38275 2.01639 6.82167C1.5823 6.26424 1.36882 5.62302 1.36882 4.90528C1.58586 4.98908 1.78867 5.08381 1.9986 5.14574C2.21208 5.20768 2.43269 5.22954 2.65329 5.25869C1.35814 4.12197 1.05571 2.77758 1.78156 1.16359C3.41116 3.12734 5.44994 4.20212 7.92993 4.37336C7.91925 4.07096 7.89435 3.7795 7.90146 3.49167C7.93704 2.23473 8.87638 1.03972 10.0683 0.730034C11.1713 0.442212 12.1427 0.700888 12.9717 1.49878C13.0322 1.55707 13.0856 1.58257 13.171 1.55343C13.4699 1.4587 13.7759 1.38583 14.0676 1.27289C14.3594 1.15995 14.6369 1.01057 14.9358 0.868481C14.8397 1.21095 14.6832 1.51699 14.4626 1.77931C14.242 2.03799 13.9858 2.27116 13.7474 2.50798C14.2776 2.44604 14.8042 2.27845 15.3521 2.05256C14.9714 2.62821 14.5444 3.10913 14.0285 3.49896C13.8968 3.59733 13.8648 3.70299 13.8684 3.86329C13.8968 5.26597 13.5944 6.59943 13.0002 7.86002C12.285 9.37564 11.2496 10.5998 9.84774 11.4888C8.84791 12.1227 7.7627 12.498 6.5992 12.6546C5.57803 12.7931 4.56398 12.7603 3.55704 12.538C2.59636 12.3267 1.70328 11.9515 0.870686 11.4195C0.860011 11.4159 0.849338 11.405 0.806641 11.3722Z" fill="#494849"></path></svg><svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.806641 11.3722C2.43624 11.5216 3.87727 11.1208 5.18664 10.1152C3.8239 9.98772 2.91659 9.28456 2.40422 7.98389C2.8561 8.03854 3.27951 8.04583 3.73494 7.92196C3.01621 7.73979 2.45048 7.38275 2.01639 6.82167C1.5823 6.26424 1.36882 5.62302 1.36882 4.90528C1.58586 4.98908 1.78867 5.08381 1.9986 5.14574C2.21208 5.20768 2.43269 5.22954 2.65329 5.25869C1.35814 4.12197 1.05571 2.77758 1.78156 1.16359C3.41116 3.12734 5.44994 4.20212 7.92993 4.37336C7.91925 4.07096 7.89435 3.7795 7.90146 3.49167C7.93704 2.23473 8.87638 1.03972 10.0683 0.730034C11.1713 0.442212 12.1427 0.700888 12.9717 1.49878C13.0322 1.55707 13.0856 1.58257 13.171 1.55343C13.4699 1.4587 13.7759 1.38583 14.0676 1.27289C14.3594 1.15995 14.6369 1.01057 14.9358 0.868481C14.8397 1.21095 14.6832 1.51699 14.4626 1.77931C14.242 2.03799 13.9858 2.27116 13.7474 2.50798C14.2776 2.44604 14.8042 2.27845 15.3521 2.05256C14.9714 2.62821 14.5444 3.10913 14.0285 3.49896C13.8968 3.59733 13.8648 3.70299 13.8684 3.86329C13.8968 5.26597 13.5944 6.59943 13.0002 7.86002C12.285 9.37564 11.2496 10.5998 9.84774 11.4888C8.84791 12.1227 7.7627 12.498 6.5992 12.6546C5.57803 12.7931 4.56398 12.7603 3.55704 12.538C2.59636 12.3267 1.70328 11.9515 0.870686 11.4195C0.860011 11.4159 0.849338 11.405 0.806641 11.3722Z" fill="#494849"></path></svg></a></li>		
                        <li><a target="_blank" href="https://www.youtube.com/"><svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.06569 0.423828C9.55903 0.483698 11.0524 0.538179 12.5451 0.607627C12.8979 0.626557 13.2491 0.669558 13.5963 0.736346C14.4387 0.892606 14.9786 1.47992 15.1385 2.39473C15.3573 3.64839 15.4009 4.91583 15.3596 6.18386C15.3305 7.06993 15.2479 7.9554 15.1641 8.83847C15.1031 9.48566 14.8477 10.0359 14.2915 10.4041C13.953 10.6286 13.5713 10.6932 13.1862 10.7357C11.6876 10.8986 10.1827 10.9357 8.67827 10.9279C7.1541 10.9201 5.62935 10.8728 4.10576 10.8225C3.61679 10.7997 3.12948 10.7483 2.64616 10.6687C1.81601 10.5436 1.24997 9.95683 1.07836 9.07555C0.906741 8.19428 0.866601 7.30282 0.841586 6.41077C0.801634 5.23639 0.850649 4.06059 0.988186 2.89404C1.01919 2.63186 1.06601 2.37193 1.12839 2.11574C1.32502 1.32965 1.9469 0.802203 2.77123 0.695635C4.19244 0.512435 5.62178 0.496869 7.04997 0.472322C7.38796 0.466335 7.72654 0.472322 8.06453 0.472322L8.06569 0.423828ZM6.66311 3.4622V7.93684L10.4375 5.69952L6.66311 3.4622Z" fill="#494849"></path></svg><svg width="16" height="11" viewBox="0 0 16 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.06569 0.423828C9.55903 0.483698 11.0524 0.538179 12.5451 0.607627C12.8979 0.626557 13.2491 0.669558 13.5963 0.736346C14.4387 0.892606 14.9786 1.47992 15.1385 2.39473C15.3573 3.64839 15.4009 4.91583 15.3596 6.18386C15.3305 7.06993 15.2479 7.9554 15.1641 8.83847C15.1031 9.48566 14.8477 10.0359 14.2915 10.4041C13.953 10.6286 13.5713 10.6932 13.1862 10.7357C11.6876 10.8986 10.1827 10.9357 8.67827 10.9279C7.1541 10.9201 5.62935 10.8728 4.10576 10.8225C3.61679 10.7997 3.12948 10.7483 2.64616 10.6687C1.81601 10.5436 1.24997 9.95683 1.07836 9.07555C0.906741 8.19428 0.866601 7.30282 0.841586 6.41077C0.801634 5.23639 0.850649 4.06059 0.988186 2.89404C1.01919 2.63186 1.06601 2.37193 1.12839 2.11574C1.32502 1.32965 1.9469 0.802203 2.77123 0.695635C4.19244 0.512435 5.62178 0.496869 7.04997 0.472322C7.38796 0.466335 7.72654 0.472322 8.06453 0.472322L8.06569 0.423828ZM6.66311 3.4622V7.93684L10.4375 5.69952L6.66311 3.4622Z" fill="#494849"></path></svg></a></li>			
                      </ul>
                      <div class="payment d-flex gap-1 gap-md-2">
                        <img src="https://elevenish.com/wp-content/themes/flatsome/assets/images/visa.svg" width="" height="" alt="*">
                        <img src="https://elevenish.com/wp-content/themes/flatsome/assets/images/mastercard.svg" width="" height="" alt="*">
                        <img src="https://elevenish.com/wp-content/themes/flatsome/assets/images/cash.svg" width="" height="" alt="*">
                        <img src="https://elevenish.com/wp-content/themes/flatsome/assets/images/postpay.svg" width="" height="" alt="*">
                      </div>
                    {% endif %}
                  {%- when 'brand_information' -%}
                    <div class="footer-block__brand-info">
                      {%- if settings.brand_image != blank -%}
                        {%- assign brand_image_height = settings.brand_image_width
                          | divided_by: settings.brand_image.aspect_ratio
                        -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                        >
                          {{
                            settings.brand_image
                            | image_url: width: 1100
                            | image_tag:
                              loading: 'lazy',
                              widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                              height: brand_image_height,
                              width: settings.brand_image_width
                          }}
                        </div>
                      {%- endif -%}
                      {%- if settings.brand_headline != blank -%}
                        <h2 class="footer-block__heading rte">{{ settings.brand_headline }}</h2>
                      {%- endif -%}
                      {%- if settings.brand_description != blank -%}
                        <div class="rte">{{ settings.brand_description }}</div>
                      {%- endif -%}
                      {%- if block.settings.show_social and has_social_icons -%}
                        {%- render 'social-icons', class: 'footer__list-social' -%}
                      {%- endif -%}
                    </div>
                  {%- when 'image' -%}
                    <div class="footer-block__details-content footer-block-image {{ block.settings.alignment }}">
                      {%- if block.settings.image != blank -%}
                        {%- assign image_size_2x = block.settings.image_width | times: 2 | at_most: 5760 -%}
                        <div
                          class="footer-block__image-wrapper"
                          style="max-width: min(100%, {{ block.settings.image_width }}px);"
                        >
                          <img
                            srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}, {{ block.settings.image | image_url: width: image_size_2x }} 2x"
                            src="{{ block.settings.image | image_url: width: 760 }}"
                            alt="{{ block.settings.image.alt | escape }}"
                            loading="lazy"
                            width="{{ block.settings.image.width }}"
                            height="{{ block.settings.image.height }}"
                          >
                        </div>
                      {%- else -%}
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                      {%- endif -%}
                    </div>
                {%- endcase -%}
              </div>
            {%- endfor -%}
          </div>
        {%- endif -%}

        <div
          class="footer-block--newsletter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
          {% endif %}
        >
          {%- if section.settings.newsletter_enable -%}
            <div class="footer-block__newsletter">
              {%- if section.settings.newsletter_heading != blank -%}
                <h2 class="footer-block__heading inline-richtext">{{ section.settings.newsletter_heading }}</h2>
              {%- endif -%}
              {%- form 'customer', id: 'ContactFooter', class: 'footer__newsletter newsletter-form' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="newsletter-form__field-wrapper">
                  <div class="field">
                    <input
                      id="NewsletterForm--{{ section.id }}"
                      type="email"
                      name="contact[email]"
                      class="field__input"
                      value="{{ form.email }}"
                      aria-required="true"
                      autocorrect="off"
                      autocapitalize="off"
                      autocomplete="email"
                      {% if form.errors %}
                        autofocus
                        aria-invalid="true"
                        aria-describedby="ContactFooter-error"
                      {% elsif form.posted_successfully? %}
                        aria-describedby="ContactFooter-success"
                      {% endif %}
                      placeholder="{{ 'newsletter.label' | t }}"
                      required
                    >
                    <label class="field__label" for="NewsletterForm--{{ section.id }}">
                      {{ 'newsletter.label' | t }}
                    </label>
                    <button
                      type="submit"
                      class="newsletter-form__button field__button"
                      name="commit"
                      id="Subscribe"
                      aria-label="{{ 'newsletter.button_label' | t }}"
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                      </span>
                    </button>
                  </div>
                  {%- if form.errors -%}
                    <small class="newsletter-form__message form__message" id="ContactFooter-error">
                      <span class="svg-wrapper">
                        {{- 'icon-error.svg' | inline_asset_content -}}
                      </span>
                      {{- form.errors.translated_fields.email | capitalize }}
                      {{ form.errors.messages.email -}}
                    </small>
                  {%- endif -%}
                </div>
                {%- if form.posted_successfully? -%}
                  <h3
                    class="newsletter-form__message newsletter-form__message--success form__message"
                    id="ContactFooter-success"
                    tabindex="-1"
                    autofocus
                  >
                    <span class="svg-wrapper">
                      {{- 'icon-success.svg' | inline_asset_content -}}
                    </span>
                    {{- 'newsletter.success' | t }}
                  </h3>
                {%- endif -%}
              {%- endform -%}
            </div>
          {%- endif -%}

          {%- if shop.features.follow_on_shop? and section.settings.enable_follow_on_shop -%}
            <div class="footer__follow-on-shop">
              {{ shop | login_button: action: 'follow' }}
            </div>
          {%- endif -%}

          {%- if section.settings.show_social and has_social_icons -%}
            {%- render 'social-icons', class: 'footer__list-social' -%}
          {%- endif -%}
        </div>
      </div>
    {%- endunless -%}
  {%- endif -%}

  <div
    class="footer__content-bottom{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper page-width">
      <div class="footer__column footer__localization isolate">
        {%- if section.settings.enable_country_selector and localization.available_countries.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
                {%- render 'country-localization', localPosition: 'FooterCountry' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}

        {%- if section.settings.enable_language_selector and localization.available_languages.size > 1 -%}
          <localization-form>
            {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
              <div>
                <h2 class="caption-large text-body" id="FooterLanguageLabel">
                  {{ 'localization.language_label' | t }}
                </h2>
                {%- render 'language-localization', localPosition: 'FooterLanguage' -%}
              </div>
            {%- endform -%}
          </localization-form>
        {%- endif -%}
      </div>
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper page-width{% if section.settings.enable_country_selector == false and section.settings.enable_language_selector == false %} footer__content-bottom-wrapper--center{% endif %}">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title | escape }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.link_list.settings.heading.default",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.footer.blocks.text.settings.heading.default",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "t:sections.footer.blocks.text.settings.subtext.default",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Alignment",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "inline_richtext",
      "id": "newsletter_heading",
      "default": "t:sections.footer.settings.newsletter_heading.default",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__9.content"
    },
    {
      "type": "checkbox",
      "id": "enable_follow_on_shop",
      "default": true,
      "label": "t:sections.footer.settings.enable_follow_on_shop.label",
      "info": "t:sections.footer.settings.enable_follow_on_shop.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.footer.settings.show_social.label",
      "info": "t:sections.footer.settings.show_social.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label",
      "info": "t:sections.footer.settings.enable_country_selector.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label",
      "info": "t:sections.footer.settings.enable_language_selector.info"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    },
    {
      "type": "checkbox",
      "id": "show_policy",
      "default": true,
      "label": "t:sections.footer.settings.show_policy.label",
      "info": "t:sections.footer.settings.show_policy.info"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
